* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

[data-theme="light"] {
    --background: #67C6E3;
    --primary: #5356FF;
    --text: #000;
    --secondary: #000;
}

[data-theme="dark"] {
    --background: #00214d;
    --primary: #a0153fc7;
    --text: #F7C566;
    --secondary: #F7C566;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--background);
    color: var(--text);
}


/* TODO HEADER */

header {
    margin-bottom: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    background-color: var(--primary);
    width: 100%;
    display: flex;
    justify-content: center;
}

header section {
    display: flex;
    justify-content: end;
    width: 100%;
}

/* !MODO OSCURO */

.switch {
    position: relative;
    display: flex;
    width: 60px;
    height: 34px;
    margin-right: 10px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.sliderClass {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--text);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 34px;
}

.sliderClass:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: var(--background);
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
}

input:checked+.sliderClass {
    background-color: var(--secondary);
}

input:checked+.sliderClass:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}




/* TODO MAIN */

.calculadoraContainer {
    background-color: var(--primary);
    display: flex;
    flex-direction: column;
    width: 300px;
    height: fit-content;
    padding-bottom: 20px;
    box-shadow: 30px 10px 52px var(--text);
}

.calculadoraContainer section {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
}

#calculadora {
    margin-bottom: 20px;
    margin-top: 30px;
}

#display {
    text-align: center;
    background-color: var(--background);
    color: var(--text);
}

.filas {
    margin-bottom: 10px;
}

.calculadoraContainer button {
    width: 50px;
    border: none;
    background: none;
    cursor: pointer;
    border: 2px solid var(--background);
    color: var(--text);
    font-size: 30px;
    margin-right: 20px;
    transition: .5s;
}

.calculadoraContainer button:hover {
    background-color: var(--background);
}


/* TODO FOOTER */

footer {
    width: 100%;
    border-top: 1px solid var(--primary);
    background-color: var(--primary);
    display: flex;
    justify-content: center;
    padding-top: 20px;
    margin-top: 20px;
}

a {
    color: var(--text);
    font-size: 60px;
    margin-inline: 30px;
    position: relative;
}

a::after {
    content: "";
    background: var(--text);
    width: calc(100% + 20px);
    mix-blend-mode: color-burn;
    height: 0;
    position: absolute;
    bottom: -4px;
    left: -10px;
    transition: all .3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
    border-radius: 30px;
}

a:hover::after {
    height: calc(100% + 8px);
}

#github:hover {
    transition: .3s;
    color: violet;
}

#linkedin:hover {
    transition: .3s;
    color: rgb(255, 255, 255);
}

#whatsapp:hover {
    transition: .3s;
    color: #00ff00;
}

#mail:hover {
    transition: .3s;
    color: white;
}